EXPO_PUBLIC_API_URL=http://localhost:3001
EXPO_PUBLIC_API_TIMEOUT=10000

# Dev
# EXPO_PUBLIC_API_URL=https://parkit-api-dev.onrender.com

# Prod
# EXPO_PUBLIC_API_URL=https://parkit-api-prod.onrender.com